.DS_Store

node_modules

dist-newstyle
.stack-work
.mypy_cache

*.fits
rh-han

venv
*.o
*.hi
*.hie
*.dyn_o
*.dyn_hi

.git


.ipynb_checkpoints/
__pycache__/
*.so
.Python
.eggs/
*.egg-info/
*.egg

# rsync -a 

# Data directories
scan1807
